extends baseEmail 

block content 
    p Your password reset token is: #{resetToken}.
    p If you didn't initial this, please ignore this email.                                     
    p If you need any help with booking your next tour, please don't hesitate to contact us at khlusterthon@gmail.com