extends baseEmail 

block content 
    p Your password reset token is: #{resetToken}.
    p If you didn't initiate this, please ignore this email.                                     
    p For questions and enquiries you can reach us via-
        p email: khlusterthon023@gmail.com